* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Manrope", sans-serif;
}
body {
  background: #2f4f4f;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  padding: 0 16px;
  font-family: "Manrope", sans-serif;
}
/* header */

header {
  background-color: slateblue;
  color: white;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

/* Note */
.blog {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 98%;
  margin: 16px;
  float: left;
}
.blog h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-weight: bold;
}
.blog h3 {
  font-size: 0.9em;
  margin-bottom: 6px;
}
.blog p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.blog button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: slateblue;
  background-color: white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-blog {
  position: relative;
  width: 85%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(34, 28, 28);
}
form.create-blog input,
form.create-blog textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
/* form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: slateblue;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
} */

form.create-blog button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: slateblue;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.chat {
  size: 1.5em;
  font-weight: bold;
  margin: 0 5px 0 5px;
  color: orange;
}
